<li id="waterline">
    <div class="row">
        <div class="span8">
            <div class="well form-inline input-prepend">
                <div class="control-group">
                    <span class="add-on">Waterline</span><%= text_field_tag :velocity, nil, class: 'span1' %>
                </div>
            </div>
        </div>
    </div>
</li>
