<li id="waterline" style="display: none;">
    <div class="row">
        <div class="span8">
            <div class="well form-inline input-append">
                <span class="control-group">
                    <%= text_field_tag :capacity %><span id="sum_above_line" class="add-on">(--)</span>
                </span>
            </div>
        </div>
    </div>
</li>
