<h1>The Backlog</h1>

<ul id="backlog_entries" data-update-url="<%= sort_backlog_entries_url %>">
    <%= render :partial => @backlog_entries %>
</ul>

<%= link_to 'New', new_backlog_entry_path, :class => 'btn btn-primary' %>
