// Place all the styles related to the BacklogEntries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#backlog_entries {
  list-style-type: none;
  margin: 0 0 9px 0;
  
  > li {
    border-top: solid 1px #aaa;
    margin-bottom: 12px;
  }
  
  > #waterline {
    border-top: solid 3px #006CCC;
    padding-top: 1px;
    .well {
      padding-top: 3px;
      padding-bottom: 3px;
    }
    #capacity, #sum_above_line {
      width: 24px;
    }
  }

}

.entry_head {
  text-align: right;
  h1 {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
  }
  .hash {
    font-size: 60%;
    vertical-align: super;
  }
  .size {
    padding: 1px 4px 0px 4px;
    border-top: solid 1px #000;
  }  
}

.entry_details {
  > h1 {
    font-size: 14px;
    line-height: 18px;
  }
  > h2 {
    font-size: 11px;
    line-height: 12px;
    margin-bottom: 12px;
  }
  .description {
    font-size: 13px;
    line-height: 18px;

    h1 {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 4px;
    }
    h2 {
      font-size: 14px;
      font-weight: normal;
      line-height: 16px;
      margin-bottom: 4px;
    }
    h3 {
      font-size: 13px;
      line-height: 16px;
      margin-bottom: 2px;
    }
    ul {
      margin-bottom: 6px;
    }
  }
}

.entry_actions {
  margin-top: 6px;  
}

